*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --blue-color : #007bff;
    --br-gray : #dfe6e9;
}

body{
    height: 100vh;
    background: var(--blue-color);
}
.startBtn,.infoBox,.quiz_box{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}

/* ----------start button------------------------------------------------ */
.startBtn{
    
    transform: scale(0);
}
.startBtn button{
    background: #fff;
    color : var(--blue-color);
    font-size:1.3rem;
    font-weight:bolder;
    border: none;
    padding:15px;
    width: 12rem;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(0);
}

/* ----------info-box------------------------------------------------
*/

.infoBox{
    background: #fff;
    color : black;
    padding:12px;
    width: 28rem;
    border-radius:12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%) scale(0);
}
.info-title{
    margin:12px;
    padding: 2px;
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 1px solid var(--br-gray);
}
.info-list{
    padding:6px;
    border-bottom: 1px solid var(--br-gray); 
    margin: 12px 0px;
}
.info{
    padding: 4px;
}
.info span{
    color: var(--blue-color);
    font-weight: 700;
}

.info-btns{
    display: flex;
    justify-content: flex-end;
}
.info-btns button{
    padding: 10px;
    margin: 0px 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    font-size: 0.9rem;
    font-weight: 500;
}
#exitBtn{
    color: var(--blue-color);
    background-color: #fff;
    border: 1px solid var(--blue-color);
}
#exitBtn:hover{
    color: #fff;
    background-color: var(--blue-color);
    transition: all 0.3s ease-in-out;
}
#continueBtn{
    color:#fff ;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
}
#continueBtn:hover{
    background-color: #0e58a7;
}
.activeInfo{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}


/* -----------quiz-box-------------------------------- */

.quiz_box{
    transform: translate(-50%, -50%) scale(1);
    text-align: left;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border: none;
    width: 35rem;
    text-transform: capitalize;
    border-radius: 8px;
}

.quiz_box header{
    display: flex;
    justify-content: space-between;
   color: #000;
   font-size: 1.3rem;
   font-weight: bold;
   padding: 1rem;
}
.quiz_box header .timer span:nth-child(1) {
    background-color: #74b9ff;
    color: #007bff;
    border-radius: 8px;
    padding: 8px 25px;
    padding-right: 50px;
}
.timer{
    position: relative;
}
.quiz_box header .timer span:nth-child(2){
    position: absolute;
    right: 0;
    top: -7px;
    border-radius: 8px;
    
    background-color: #000;
    color: #fff;
}